.gender_switch {
  display: flex;
  align-items: center;
  & > span {
    font-size: 14px;
    color: #888;
  }
  > i {
    font-size: 18px;
    margin-left: 10px;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-weight: bold;
  }
}