.chat {
  background-color: #f1f3f5;
  .chatTips {
    color: #aaa;
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 12px;
    margin: 5px 0;
    align-items: center;
    border-radius: 20px;
  }
  > .header {
    height: 44px;
    background-image: linear-gradient(120deg, #209cff 0%, #68e0cf 100%);
    width: 100%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    > .return {
      position: absolute;
      top: 14px;
      left: 10px;
      color: #fff;
      display: flex;
      align-items: center;
      > i {
        color: #fff;
        font-size: 14px;
        margin-right: 4px;
      }
      > span {
        font-size: 12px;
      }
    }
    > .title {
      color: #fff;
      display: block;
      width: 100%;
      line-height: 44px;
      font-size: 14px;
      text-align: center;
      margin: 0;
    }
    > .user_icon {
      position: absolute;
      right: 5px;
      font-size: 18px;
      color: #fff;
      padding: 10px;
      top: 1px;
    }
  }
  > .content {
    padding: 44px 15px 50px;
    min-height: 100vh;
    overflow-y: scroll;
  }
  > .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    transition: all 0.2s;
    > .input_box {
      padding: 0 10px 10px 10px;
      display: flex;
      > input {
        border: none;
        background: #f1f3f5;
        border: none;
        height: 35px;
        border-radius: 100px;
        padding: 0 10px;
        outline: none;
        width: 100%;
      }
      > .operation {
        display: flex;
        flex-shrink: 0;
        padding-left: 10px;
        align-items: center;
        > i {
          color: #6b7372;
          font-size: 26px;
        }
        > button {
          color: #fff;
          background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
          font-size: 12px;
          padding: 9px 15px;
          border: none;
          outline: none;
          margin-left: 10px;
          border-radius: 5px;
        }
      }
    }
    > .emoji {
      height: 250px;
      overflow-y: scroll;
      width: 100%;
    }
  }
}

@media screen and (min-width: 680px) {
  .chat > .header,
  .chat > .footer {
    width: 680px !important;
    margin: 0 auto;
  }
}
