.link_line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fefefe;
  height: 50px;
  position: relative;
  margin: 0.5px 0;
}